.report {  font-family: Trebuchet MS; font-size: 14px}
td {  font-family: Trebuchet MS; font-size: 14px; line-height: 21px; text-decoration: none; }
.heading {  font-size: 17px; font-weight: bold}
.tbl {  border: 1px #eeeeee}
.tblhead {  font-family: Trebuchet MS; font-size: 14px; font-weight: bold; background-color: #efefef}
.subheading {font-size:14px; font-weight:bold;}
#top{background-color: #ffffff;}
#top table{ border-collapse: collapse;}
#top td {border: 0.5pt solid black; FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 19px;}

#top1{background-color: #ffffff;}
#top1 td {border: 0 solid black; FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 19px;}
@page {
  margin: 3cm;
}
table {page-break-inside: avoid;}
@page :left {
  margin-left: 4cm;
}
.just {text-align:justify}

/*for highlighting the pagebreak space*/
a.highlight_pagebreak
{
	background-color:white;
}
a:hover.highlight_pagebreak
{
background-color:#ADDCC1;
}

a:link {  color: #000000;  text-decoration: none}
a:visited {  color: #000000;  text-decoration: none}
a:active {  color: #000000;  text-decoration: none}
a:hover {  color: #CC3300;  text-decoration: none}