td {
	color: #000000;
	font-family: "Arial";
	font-size: 14px;
	line-height: 16px;


}

.title {
	color: #000000;
	font-family: "Arial";
	font-size: 18px;
}
.add
{
	color: #000000;
	font-family: "Arial";
	font-size: 14px;

	}
	
h2 {
	font-family: "Arial";
	font-size: 150%;
	margin: 0px 0px
}

a {
	text-decoration: none;
	color: #000000
}
a:hover {
	color: #FF3300
}
.dataGridColor {
	background-color: #EFEFEF
}

.dataheadcolor {
	color: #FFFFFF;
	background-color: #DDDDDD
}

.bluefont {
	color: blue;;
	font-family: "MS Sans Serif"
	font-size: 12;
	font-weight: bold
}
#top{background-color: #ffffff;}
#top table{ border-collapse: collapse;}
#top td {border: 0.5pt solid black; FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 16px; FONT-FAMILY: "Arial"}

#top1{background-color: #ffffff;}
#top1 td {border: 0 solid black; FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 16px; FONT-FAMILY: "Arial"}
.print {  page-break-before: always}
