.report {  font-family: Arial; font-size: 13px}
td {  font-family: Arial; font-size: 13px; line-height: 21px; text-decoration: none; }
.heading {  font-size: 17px; font-weight: bold}
.tbl {  border: 1px #eeeeee}
.tblhead {  font-family: Arial; font-size: 13px; font-weight: bold; background-color: #efefef}
p { font-family: Arial; font-size: 13px; line-height: 21px; text-decoration: none;text-align:justify}
.subheading {font-size:13px; font-weight:bold;}
#top{background-color: #ffffff;}
#top table{ border-collapse: collapse;}
#top td {border: 0.5pt solid black; FONT-SIZE: 13px; COLOR: #000000; LINE-HEIGHT: 19px;}

#top1{background-color: #ffffff;}
#top1 td {border: 0 solid black; FONT-SIZE: 13px; COLOR: #000000; LINE-HEIGHT: 19px;}
@page {
  margin: 3cm;
}
table {page-break-inside: avoid;}
@page :left {
  margin-left: 4cm;
}