@charset "utf-8";


body, h1, h2, h3, h4, h5, h6, th, td, button{
	font-size: 13px;
}
font {
	font-size: 13px;
	font-family: Trebuchet MS;
}
i {
    font-style: normal;
}
body {
	scrollbar-face-color:#F2F9FF;
	scrollbar-base-color:#F2F9FF;
	scrollbar-arrow-color:#6699CC; 
	scrollbar-track-color: #F2F9FF;  
	scrollbar-highlight-color:#6699CC;	
	scrollbar-darkshadow-color:#003366; 
	padding: 0px;
    margin: 0px;
    font-family: Trebuchet MS;
    /* background-color: #ffffff; */
  font-size: 13px !important;
    letter-spacing: .5;
    background: #f3f3f3;
    /* background: -moz-linear-gradient(top, #f3f3f3 0%, #ffffff 57%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #f3f3f3 0%,#ffffff 57%,#ffffff 100%); */
    background: linear-gradient(to bottom, #f3f3f3 0%,#ffffff 57%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3 ', endColorstr='#ffffff',GradientType=0 );
}
marquee{
 /* font-size:14px; */
 font-family: Trebuchet MS;
 color: #000;
}

/* form.normal {
	 background-color:#fff;  width:100% 
} */
form.normal table.outertable{/*font-size:12px;*/ color:#000000;}
form.normal table.outertable{/*font-size:12px;*/ color:#000000;}
form.normal table.outertable input[type=text] {
    border: 1px solid #b398b0 !important;
	padding: 2px 5px;
	color: #880b7b;
    /* font-size: 12px; */
}
form.normal table.outertable input[type=text]:disabled {
    background-color: #f0f0f0 !important;
	color: #a0a0a0;
	opacity: 0.8;
}
form.normal table.outertable select {
    border: 1px solid #b398b0 !important;
	padding: 2px 5px;
	color: #880b7b;
    /* font-size: 12px; */
}
form.normal table.outertable select:disabled {
    background-color: #f0f0f0;
	color: #a0a0a0;
	opacity: 0.8;
}
form.normal table.outertable textarea {
    color: #880b7b;
	/* font-size: 12px; */
	border: 1px solid #b398b0 !important;
}
form.normal table.outertable textarea:disabled {
    background-color: #f0f0f0;
	color: #a0a0a0;
	opacity: 0.8;
}

/* .applicationheader
{
	background-color:#fae9f8;
	color:#8e1581;
	font-weight:bold;
	font-family: Trebuchet MS;
	font-size:11px;
	border-top:1px solid #e2bade;	
	border-bottom:2px solid #e2bade;	
} */

.applicationheader {
    background-color: #ebebeb;
    /* color: #8e1581; */
    font-weight: bold;
    font-family: Trebuchet MS;
    /* font-size: 12px; */
    /* border-top: 1px solid #e2bade; */
    border: 1px solid #dcbad8;
}
tr.applicationheader td {
    padding: 5px 0px;
}

.applicationheader td:nth-child(2) {
    background: #fff;
    /* color: #faa026; */
	/* color: #fd6a15; */
	color: #8450a7;
}
.applicationheader td:nth-child(4) {
    background: #fff;
	/* color: #fd6a15; */
	color: #8450a7;
}
.applicationheader td:nth-child(6) {
    background: #fff;
	/* color: #fd6a15; */
	color: #8450a7;
}

.applicationheader td:nth-child(1) {
    background: #ebebeb;
    color: #000;
}
.applicationheader td:nth-child(3) {
    background: #ebebeb;
    color: #000;
}
.applicationheader td:nth-child(5) {
    background: #ebebeb;
    color: #000;
}
.textdata
{
	background-color:#D9D7FF;
	color:#000000;
	font-weight:bold;
	font-family: Trebuchet MS;
	/* font-size:11px; */
	border:0
}
	
.dataheader
{
	/* background-color:#7a4d98; */
	/* color:#ffffff; */
	/* background: #dcbad8; */
	background: #e6cbe3;
	font-weight:bold;
	height:25px;
}
.dataheader td {
    color: #383737 !important;
    /* font-size: 13px; */
}
.datagrid
{
	/*background-color: #ece1ea; */
    color: #942188;
    font-weight: normal;
    /* border-bottom: 0px #942188 solid; */
    border: 1px solid #dcbad8;
    /* font-size: 12px; */
    text-decoration: none;
}


}
.datagridnew
{
	background-color:#ffffff;
	color:#942188;
	font-weight:normal;
	border-bottom:0px #942188 solid;
	/* font-size:11px; */
	text-decoration:none;
}

.datagridnew td
{
	background-color:#ffffff;
	color:#942188;
	font-weight:normal;
	border-bottom:0px #942188 solid;
	/* font-size:11px; */
	text-decoration:none;
}

.datagrid td a:link
{
	/* background-color:#ece1ea; */
	color:#942188;
	font-weight:normal;
	border-bottom:0px #7a4d98 solid;
	/* font-size:11px; */
	 text-decoration:none;
}

.datagrid td a:visited
{
	background-color:#ece1ea;
	color:#5d2383;
	font-weight:normal;
	border-bottom:0px #5d2383 solid;
	/* font-size:11px; */
	 text-decoration:none;
}

/* .datagrid td a:hover
{
	background-color:#ece1ea;
	color:#d300bd;
	font-weight:normal;
	border-bottom:1px #d300bd solid;
	font-size:11px; 
	 text-decoration:none;
} */

.datagrid td a:active
{
	background-color:#ece1ea;
	color:#4f1a73;
	font-weight:normal;
	border-bottom:1px #4f1a73 solid;
	/* font-size:11px; */
	 text-decoration:none;
}

/* .blackfont {font-family: "Trebuchet MS"; font-size: 12px; color: #000000; text-decoration: none}; */
/* .blackfont{
    color: #942188 !important; 
    font-size: 12px;
    text-decoration: none;
}
.blackfont:hover{
	color: #fd6a15 !important;
	text-decoration: underline;
} */

	
.page_flow {
    font-family: Trebuchet MS;
    font-weight: none;
    /* font-size: 13px; */
    font-weight: normal;
    color: #444;
    /* filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#f6f4ee', startColorstr='#ffffff', gradientType='1'); */
	text-decoration: none;
	/* padding: 10px 10px; */
	padding: 10px 0px;
}

.userfont 
{
    font-family:Trebuchet MS;
	font-weight: none;
	/* font-size:9px; */
	font-style:normal;
	padding-left:6px;
	color:#000000;
	font-weight:normal;
	background-color: #d8b906;filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#ffffff', startColorstr='#cbcac9', gradientType='1');
}
.all_value
{
    font-family:Trebuchet MS;
	font-weight: normal;
	/* font-size:10px; */
	font-style:normal;padding-right:6px;
	color:#727272;
	background-color: #ffffff;
}
.mantatory
{
	font-family:Trebuchet MS;
	/* font-size:13px; */
	color:#FF0000;
	font-weight:normal;
}

.interfacedata
{
	font-family:Trebuchet MS;
	/* font-size:13px; */
	color:#0000FF;
	font-weight:normal;
}

.main_tab_active {
    /* background-color: #832b91; */
    background-color: #942188;
    color: #FFFFFF;
    font-weight: bold;
    font-family: Trebuchet MS;
    /* font-size: 13px; */
    padding: 10px 10px;
	/* border: 1px solid #dcbad8; */
	border: 1px solid #6d1964;
    text-decoration: none;
}
.main_tab_active:hover {
    background: #731469;
    color: #fff;
}
.main_tab_inactive {
	/* background-color: #f1f1f1; */
	background-color: #bf9ad8;
    color: #589BD6;
    font-weight: bold;
    font-family: Trebuchet MS;
    /* font-size: 13px; */
    padding: 10px 10px;
	/* border: 1px solid #dcbad8; */
	border: 1px solid #885fa5;
    text-decoration: none;
}
.main_tab_inactive:hover {
    color: #fff;
    font-weight: bold;
    font-family: Trebuchet MS;
    /* font-size: 13px; */
    /* background-color: #942188; */
	/* border: 1px solid #6d1964; */
	/* padding-right: 3px; */
	/* background-color: #fd6a15;
	border: 1px solid #fd6a15; */
	background: #942188;
	border:1px solid #942188;

	text-decoration: none;
}
.main_tab_inactive a {
	/* color: #383737; */
	color: #333;
}
.main_tab_inactive:hover a {
    color: #fff;
}
.main_tab_inactive :link {
    /* color: #750b6a; */
    /* color: #fff; */
    font-weight: bold;
    font-family: Trebuchet MS;
    /* font-size: 13px; */
    /* background-color: #bd7db5; */
    padding-right: 3px;
    text-decoration: none;
}
/* .main_tab_inactive :link 
{
	color:#750b6a;
	font-weight:bold ;
	font-family: Trebuchet MS;
	font-size:12px;
	background-color:#bd7db5;
	padding-right:3px;
	text-decoration:none;
}

.main_tab_inactive :active
{
	color:#750b6a;
	font-weight:bold ;
	font-family: Trebuchet MS;
	font-size:12px;
	background-color:#bd7db5;
	padding-right:3px;
	text-decoration:none;
}
.main_tab_inactive:visited 
{
	color:#750b6a;
	font-weight:bold ;
	font-family: Trebuchet MS;
	font-size:12px;
	background-color:#bd7db5;
	padding-right:3px;
	text-decoration:none;
} */
.sub_header 
{
    font-family:Trebuchet MS;
	font-weight: none;
	/* font-size:11px; */
	font-style:normal;
	color:#c20520;
	background-color: #d8b906;
	filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#ffffff', startColorstr='#cbcac9', gradientType='1');
}
#top{background-color: #ffffff;}
#top table{ border-collapse: collapse;}
#top td {border: 0.5pt solid #C3CCF3; /*FONT-SIZE: 12px;*/ COLOR: #000000; LINE-HEIGHT: 16px; FONT-FAMILY: "Trebuchet MS"}
#top1{background-color: #ffffff;}
#top1 td {border: 0 solid black; /*FONT-SIZE: 12px;*/ COLOR: #000000; LINE-HEIGHT: 16px; FONT-FAMILY: "Trebuchet MS"}

.popup
{
	font-family:"Trebuchet MS";
	/* font-size: 11px; */
	color:#000000;
	text-decoration: none;
	font-weight: bold;
	width: auto;
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 5px;
	background-image:url(../img/help_1.jpg);
	background-color:#E8942A;
	height:21px;
	border:none;
}
.others
{
	font-family:"Trebuchet MS";
	/* font-size: 11px; */
	color:#000000;
	text-decoration: none;
	font-weight: bold;
	width: auto;
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 5px;
	background-color:#E8942A;
	height:21px;
	border:none;
}

.buttonHelp 
{
	background-color:#009966; 
	font-weight:bold; 
	color:#ffffff;
	/* font-size: 12px; */
	font-family: MS Sans Serif; 
	width:auto;
	cursor:help;
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 5px;
}

.buttonOthers {
    font-family: "Trebuchet MS";
    /* font-size: 12px; */
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    width: auto;
    /* padding: 5px 14px; */
    padding: 7px 18px;
    background-color: #634fad;
    /* height: 21px; */
    border: none;
    cursor: pointer;
}
.buttonClose {
    font-family: "Trebuchet MS";
    /* font-size: 12px; */
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    width: auto;
    /* padding: 5px 14px; */
    padding: 7px 18px;
    background-color: #dd1f26;
    /* height: 21px; */
    border: none;
    cursor: pointer;
}
.buttonPrint 
{
	font-family:"Trebuchet MS";
	/* font-size: 11px; */
	color:#FFFFFF;
	text-decoration: none;
	font-weight: bold;
	width: auto;
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 5px;
	background-color:#00B2D6;
	padding: 7px 18px;
	border:none;
}
.sub_tab_active {
	/* background-color: #942188; */
	background-color: #8450a7;
border: 1px solid #672c8e;
    color: #FFFFFF;
    font-weight: bold;
    font-family: Trebuchet MS;
    /* font-size: 13px; */
    padding: 7px 7px;
    /* border: 1px solid #dcbad8; */
    text-decoration: none;
}

/* .sub_tab_active:link 
{
	background-color:#7a4d98;
	color:#FFFFFF;
	font-weight:bold ;
	font-family: Trebuchet MS;
	font-size:11px; height: 20px; 
	border-bottom:2px solid #532e6c;
	border-right:1px solid #532e6c;
	border-left:1px solid #875ba4;
	text-decoration:none;
} */
/* .sub_tab_active:visited 
{
	background-color:#7a4d98;
	color:#FFFFFF;
	font-weight:bold ;
	font-family: Trebuchet MS;
	font-size:11px; height: 20px; 
	border-bottom:2px solid #532e6c;
	border-right:1px solid #532e6c;
	border-left:1px solid #875ba4;
	text-decoration:none;
} */

.sub_tab_active:hover {
	/* background-color: #fd6a15; */
	background-color: #5d2186;
    color: #fff;
    font-weight: bold;
    font-family: Trebuchet MS;
    /* font-size: 13px; */
    padding: 7px 7px;
	text-decoration: none;
	/* border: 1px solid #fd6a15; */
	border: 1px solid #5d2186;
}


.sub_tab_active:active 
{
	background-color:#6699CC;
	color:#DAEAFE;
	font-weight:bold ;
	font-family: Trebuchet MS;
	/* font-size:11px;  */
	height: 20px; 
	border-bottom:2px solid #DA251C;
	border-right:1px solid #DA251C;
	border-left:1px solid #6699CC;
	text-decoration:none;
}

.sub_tab_inactive a {
	color: #383737;
	text-decoration: unset;
}
.sub_tab_inactive:hover a {
    color: #fff;
}
.sub_tab_inactive {
	/* background-color: #f1f1f1; */
	background-color: #eccbe8;
    border: 1px solid #d688cc;
    font-weight: bold;
    font-family: Trebuchet MS;
    /* font-size: 13px; */
    /* height: 30px; */
    /* border: 1px solid #dcbad8; */
    text-decoration: none;
    padding: 7px 7px;
}

/* .sub_tab_inactive :link 
{
	color:#fff;
	font-weight:bold ;
	font-family: Trebuchet MS;
	font-size:11px;
	background-color:#bd7db5;
	padding-right:3px;
	text-decoration:none;
} */
.sub_tab_inactive:hover {
    color: #fff;
    font-weight: bold;
    font-family: Trebuchet MS;
    /* font-size: 13px; */
    /* background-color: #942188;
    border: 1px solid #dcbad8; */
    background-color: #8450a7;
    border: 1px solid #8450a7;
	/* padding-right: 3px; */
    text-decoration: none;
}
/* .sub_tab_inactive :active

{
	color:#333;
	font-weight:bold ;
	font-family: Trebuchet MS;
	font-size:11px;
	background-color:#bd7db5;
	padding-right:3px;
	text-decoration:none;
}
.sub_tab_inactive:visited 
{
	color:#000;
	font-weight:bold ;
	font-family: Trebuchet MS;
	font-size:11px;
	background-color:#bd7db5;
	padding-right:3px;
	text-decoration:none;
} */
.linebor {
    border: 1px #cccccc solid;
    border-collapse: collapse;
}
.linebor td {
    border: 1px #dcbad8 solid;
    padding: 6px 10px;
}
.tabactivetop
{
	font-family:Trebuchet MS;
	/* font-size:13px; */
	color:#000000;
}

.navigation
{
	font-family:Trebuchet MS;
	font-weight:none;
	/* font-size:10px; */
	font-weight:bold;
	padding-left:6px;
	color:#6b6b6b;	font-style:italic;
    filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#ffffff', startColorstr='#d6d7d6', gradientType='1');
}

.navigationLinks
{
	color:#990000;
	font-weight:bold;
	font-family: Trebuchet MS;
	/* font-size:11px; */
    text-decoration: none	
}
.text
{
	font-family:Trebuchet MS;
	font-weight:none;
	/* font-size:11px; */
	font-weight:normal;
}

.finlineitems
{
	background-color:#FEFBCF;
	color:#750000;
	font-weight:normal;
	font-family: Trebuchet MS;
	/* font-size:11px; */
	height:23px;	
}


.finpagenav 
{
	color:#144086;
	font-weight:bold ;
	font-family: Trebuchet MS;
	/* font-size:11px; */
	height:25px;
}


/*calendar*/

.calendarbg
{
	background-color:#E8942A;
	color:#FFFFFF;
	font-weight:bold ;
	font-family: Trebuchet MS;
	/* font-size:11px; */
	 height: 20px; 
	border-bottom:0px solid #C05D1C;
	text-decoration:none;
}

.cellContainer 
{
	width: 100%;
	height: 300px;
	overflow: auto;
}

.calendar:link 
{
	background-color:#E8942A;
	color:#FFFFFF;
	font-weight:bold ;
	font-family: Trebuchet MS;
	/* font-size:11px; */
	 height: 20px; 
	border-bottom:0px solid #C05D1C;
	text-decoration:none;
	
}
.calendar:visited 
{
	background-color:#E8942A;
	color:#FFFFFF;
	font-weight:bold ;
	font-family: Trebuchet MS;
	/* font-size:11px; */
	 height: 20px; 
	border-bottom:0px solid #C05D1C;
	text-decoration:none;
}

.calendar:hover 
{
	background-color:#E8942A;
	color:#000000;
	font-weight:bold ;
	font-family: Trebuchet MS;
	/* font-size:11px; */
	 height: 20px; 
	border-bottom:0px solid #C05D1C;
	text-decoration:none;
}

.calendar:active 
{
	background-color:#E8942A;
	color:#FFFFFF;
	font-weight:bold ;
	font-family: Trebuchet MS;
	/* font-size:11px; */
	 height: 20px; 
	border-bottom:0px solid #C05D1C;
	text-decoration:none;
}

textarea 
	{  
	font-family: "Trebuchet MS"; 
	/* font-size: 12px;  */
	color: #003399; 
	/* border-style: groove */
	border: 1px solid #b398b0 !important;
	}

input 
	{  
	font-family: "Trebuchet MS" !important; 
	/* font-size: 12px;  */
	color: #7b0a6f; 
	/* border-style: groove */
	border: 1px solid #b398b0 !important;
	}

select 
	{  
	font-family: "Trebuchet MS"; 
	/* font-size: 14px;  */
	color: #7b0a6f; 
	/* border-style: groove */
	border: 1px solid #b398b0 !important;
	}
.innerTable 
	{
	background-color: #FFFFFF
	}
.buttonInterface1 
	{
	background-color:Green;
	/* font-size: 11px; */
	color:white;
	text-decoration: none;
	font-weight: bold;
	width:auto;
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 5px;
	height:21px;
	border:none;
	font-family: Trebuchet MS;
	}
	.buttonStyle {
		font-family: "Trebuchet MS";
		/* font-size: 12px; */
		color: #FFFFFF;
		text-decoration: none;
		font-weight: bold;
		width: auto;
		/* padding: 5px 14px; */
		padding: 7px 18px;
		/* background-color: #942188; */
		background: #942188; /* Old browsers */
background: -moz-linear-gradient(45deg, #942188 0%, #8d61aa 100%, #2989d8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #942188 0%,#8d61aa 100%,#2989d8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #942188 0%,#8d61aa 100%,#2989d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#942188', endColorstr='#2989d8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

		/* height: 21px; */
		border: 1px solid #8d61aa;
		cursor: pointer;
	}
.whitefont {font-family: "Trebuchet MS"; /*font-size: 12px;*/ color: #ffffff; text-decoration: none};

.sub_tab_active_new
{
	/* background-color:#7a4d98 !important;
	color:#FFFFFF !important;
	font-weight:bold  !important;
	font-family: Trebuchet MS !important;
	font-size:11px; height: 20px !important; 
	border-bottom:2px solid #532e6c !important;
	border-right:1px solid #532e6c !important;
	border-left:1px solid #875ba4 !important;
	text-decoration:none !important;
	style :display inline-block  !important;
	padding:2px 10px !important; */
	 /*border-right:1px solid #b4c3d1; border-left:1px solid #b4c3d1;border-top:1px solid #b4c3d1;*/
	 background-color: #942188;
	 color: #FFFFFF;
	 font-weight: bold;
	 font-family: Trebuchet MS;
	 /* font-size: 13px; */
	 padding: 10px 10px;
	 border: 1px solid #dcbad8;
	 text-decoration: none;
}

.sub_tab_active_new:hover {
    background: #fd6a15;
    color: #fff;
}
.sub_tab_inactive_new:hover {
    color: #fff;
    font-weight: bold;
    font-family: Trebuchet MS;
    /* font-size: 13px; */
    background-color: #942188;
    border: 1px solid #dcbad8;
    /* padding-right: 3px; */
    text-decoration: none;
}
.sub_tab_inactive_new 
{
	/* background-color:#bd7db5;
	color:#589BD6;
	font-weight:bold ;
	font-family: Trebuchet MS;
	font-size:11px; height: 20px; 
	border-bottom:2px solid #913d87;
	border-right:1px solid #913d87;
	border-left:1px solid #bd7db5;
	text-decoration:none;
	style :display inline-block ;
	padding:2px 10px; */
	background-color: #eccbe8;
    color: #383737;
    font-weight: bold;
    font-family: Trebuchet MS;
    /* font-size: 13px; */
    padding: 10px 10px;
    border: 1px solid #d688cc;
    text-decoration: none;
}
.sub_tab_inactive_new a{ color: #383737;text-decoration: none;}
.sub_tab_inactive_new:hover a {
    color: #fff;
}
.scrollbar
{
	overflow-y :scroll;
	overflow-x :hidden;
}

/*  Calendar  */
.calendarWrap{background:#942188;color:transparent !important;font:normal 12px "Trebuchet MS", Arial, Verdana, sans-serif  !important;}
.calendarHeader{background:#9c68bf;color:#fff;}  .calendarHeader a{/*padding:2px;*/display:block;}
.calendarGrid{background:#fee7fb;    padding: 5px 0 !important;
}
.calendarGrid a{color:#672b8e;text-decoration:none;display:block;padding:2px !important;#padding:0px !important;}  
/* .calendarGrid a:hover{color:#fff;text-decoration:none !important;border-bottom:0px !important;} */
/* .calendarGrid td:hover{background-color:#942188 !important;color:#fff;} */
. calena .calendarGrid:hover{background-color:#942188 !important;color:#fff;}

.calendarHeader td{
	padding: 4px 0;
}
.calena .dataheader{
	background:#942188;
	padding: 4px 0;
	color:#fff;
}
.calena .dataheader a{
	color:#fff !important;
}
.dataheader-month{
	background: #e6cbe3;
}

.calena .datagrid td:hover, .calena .calendarGrid td:hover  {
    background-color: #942188;
    color: #fff;
    font-weight: normal;
    /* border-bottom: 1px #d300bd solid; */
    /* font-size: 11px; */
    text-decoration: none;
}
.calena .datagrid td:hover a,.calena .calendarGrid td:hover a{
	color:#fff;
}
	
.finaclefieldsbgcolor{background-color:#efddec !important;}
.EditorClassNew
{
	background: #fff;width:100%; height:200px;overflow-y: auto;
	/* border:1px solid #b398b0 ; */
	border: 1px solid #dcbad8;
}

.derivedFld
{
	background: #CCC;padding:2px;display:inline-block;
	border:1px solid #DDD;
}
.checkBox{border:none;}
input[type="button"]:disabled {
    color: #bfaaaa !important;
    cursor: not-allowed;
}

.overlay{position:absolute;background:rgba(256, 256, 256, 0.8) !important; left:0px;right:0px;top:0px;bottom:0px;z-index:999999 !important; }


#imgloading,#id_wait{
	 	position: fixed;
	    display: none;
	    width: 100% !important;
	    height: 100% !important;
	    top: 0 !important;
	    left: 0 !important;
	    right: 0 !important;
	    bottom: 0 !important;
	    background-color:#dfdfdf; 
	    z-index: 99999999;
	    cursor: not-allowed;
	     background-color: rgba(256, 256, 256, 0.8);
	    /* opacity: 0.1;   */   
	
}
#imgloading img,#id_wait img
{
	width:100px;
	height:100px;
	position: absolute;
	left:45%;
	top:35%;
}
.mt30 {
    margin-top: 20px !important;
}
.navbox{
	/* background: #fff; */
    margin-left: 30px;
}
.nav-bor {
    border: 1px solid #dcbad8;
	border-radius: 5px;
	padding: 5px 0;
	background: #fdfdfd;
}
.notify-last {
    border-radius: 5px;
    /* box-shadow: 3px 3px 6px rgb(0 0 0 / 30%); */
    /* box-shadow: 0 0 0 2px rgb(0 0 0 / 5%); */
    border: 1px solid #dcbad8;
    background: #fff;
    /* background: linear-gradient(to bottom, #fff 0%,#fff 62%,#dcbad8 100%); */
}
form.normal {
    width: 99%;
    margin: 0 auto;
}
form.normal table.outertable.border1 {
    /* border: 1px solid #cccccc !important; */
    border: 1px solid #dcbad8 !important;
}
/*cellpadding and spacing*/
table.outertable{
	border-collapse: collapse;
}
table[cellspacing="1"][cellpadding="3"]{
	border-collapse: collapse;
}
/*cellpadding and spacing*/

table.outertable[border="1"]{
	
	border-color: #dcbad8 !important;
}
iframe{
	border: none;
}

form.normal table.outertable.border2 tbody tr td {
	border: 1px solid #dcbad8 !important;
	padding: 3px;
}
.inboxNav {
    background: #ebeaeb;
    padding: 0;
}
.inboxNav table tr td {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #d6d0d6;
	position: relative;
	padding: 4px;

	
}
.iconCircle {
    display: flex;
    width: 33px;
    height: 33px;
    /* background: #fff; */
    border-radius: 50%;
    align-items: center;
    justify-content: center;
	margin-right: 10px;
	margin-top:-8px;
    /* box-shadow: 0px 0px 4px #b5b5b5; */
    /* border: 1px solid #f3d2ef; */
    float: left;
}
.inboxNav table tr td a {
    color: #383737;
    /* font-size: 13px; */
    text-decoration: none;
    margin-top: 11px;
    display: block;
}
.inboxNav table tr td:hover {
	/* background: #942188; */
	background: #942188; /* Old browsers */
background: -moz-linear-gradient(45deg, #942188 0%, #8d61aa 100%, #2989d8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #942188 0%,#8d61aa 100%,#2989d8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #942188 0%,#8d61aa 100%,#2989d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#942188', endColorstr='#2989d8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.inboxNav table tr td:hover .notifySec {
    background: #fd6a15;
    color: #fff;
}
.inboxNav table tr td:hover a {
    color: #fff;
}
.inboxNav table tr td .notifySec {
    background: #8e50b7;
    color: #fff;
    padding: 2px 9px;
    display: inline-block;
    border-radius: 3px;
    position: absolute;
    right: 6px;
    top: 14px;
    /* font-size: 12px; */
    font-weight: bold;
}

.notifyHeader {
    color: #393737;
    /* font-size: 13px; */
    text-align: center;
    padding: 5px 10px;
    border-bottom: 2px solid #dcbad8;
    /* border-top: 2px solid #d3edfc; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.notifyHeader h3 {
    padding-left: 15px;
}
/* .mar-value {
	color: #000;
	font-size: 16px;
	font-family: 'Trebuchet MS';
} */
.setuphead {
	color: rgb(148, 33, 136);
	text-transform: uppercase;
	    /* font-size: 13px; */
}
fieldset {
    border: 1px solid #dcbad8 !important;
}
.red {
    color: red;
    /* font-size: 16px; */
}
.padtable td{
	padding: 5px 0;
}
.LoanSearch{
	position: relative;
}
.LoanSearch #idprdsel{
	position: absolute;
    right: -26px;
    top: 10px;
}
.pr30{
	padding-right: 30px;
}
tr.dataheader td {
	/* border: 1px solid #e9e1e1; */
	border:1px solid #e0afdb;
	border-bottom: 0;
}
tr.datagrid td {
    border: 1px solid #dcbad8;
}
.tableBg{
	background: #fdfdfd;
}
.inboxicon-hover{
	display: none;
}
.inboxNav table tr td:hover .inboxicon-normal{display:none}

.inboxNav table tr td:hover .inboxicon-hover{display:block}
@media (max-width:1024px){
	.inboxNav table tr td {
		padding: 0 100px 0 0;
	}
}
/* table[style*="display:block"]{display: table !important;}
tr[style*="display:block"]{display: table-row !important;}
td[style*="display:block"]{display:table-cell !important;} */

         